* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  border-radius: 0 0 25px 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logoImage {
  height: 100px;
  width: 300px;
  margin-left: 30px;
  margin-top: 8px;
}

.navigation {
  display: flex;

  height: 100%;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

#navbarNavAltMarkup {
  display: flex;
  margin-left: 20px;
}

.nav-item {
  cursor: pointer;
  color: azure;
}

.navlink {
  display: block;
  padding: 54px 16px 0px 16px;
  text-decoration: none;
  border-top: 5px solid black;
}

.navlink:hover {
  text-decoration: none;
  border-top: 5px solid red;
}
.active {
  text-decoration: none;
  border-top: 5px solid red;
}

.mySlides {
  display: none;
}

.container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  background-color: #2fa0d8;
  height: auto;
  padding-bottom: 30px;
}

.tagImg {
  width: 300px;
  height: 325px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 500px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.homeBanner {
  position: absolute;
  width: 100%;
  top: 110%;
  background: rgba(242, 242, 242, 0.6);
  padding-left: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  animation-name: bannerfall;
  animation-duration: 3s;
}

@keyframes bannerfall {
  0% {
    background: rgba(242, 242, 242, 0.6);
    left: 0px;
    top: 0px;
  }
  100% {
    background: rgba(242, 242, 242, 0.6);
    width: 100%;
    top: 110%;
  }
}

.bannertitle {
  padding: 11px;
  border-left: 5px solid red;
}

.phonenumber {
  color: red;
  font-size: 35px;
  text-shadow: 2px 2px 4px #000008;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 765px) {
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    display: flex;
  }
}
